body {
    background-color: #FEFCF7;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.repo-name-input {
    color: #eee;
    background-color: #374152;
    padding: 25px 10px;
    vertical-align: middle;
}

input#text-input-field-repo-name {
    height: 22px;
    width: 500px;
    border-radius: 6px;
    font-size: 21px;
    padding: 5px;
}

.repo-info {
    margin: 0 auto;
}

.commits-title {
    padding: 15px 13px 5px;
}

.repo-info>.right {
    width: 83%;
    float: right;
}

.repo-info>.left {
    width: 17%;
    float: left;
    background-color: #AEC9E2;
    text-align: center;
}

.commit-list {
    height: 1500px;
}

.commit-item {
    padding: 7px 3px;
}

.commit-item:hover {
    cursor: pointer;
    background-color: rgba(152, 176, 255, 0.555);
}

.commit-item.selected:hover {
    cursor: default;
}

.commit-item.selected {
    background-color: #FEFCF7;
}

.commit-detail {
    padding: 13px;
}

.commit-detail>table {
    text-align: left;
}