html,
body,
div#root,
.repo-viewer {
    height: 100%;
}

body {
    background-color: #FEFCF7;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.repo-name-input {
    color: #eee;
    background-color: #374152;
    height: 3%;
    vertical-align: middle;
    padding: 1%;
}

input#text-input-field-repo-name {
    height: 22px;
    width: 500px;
    border-radius: 6px;
    font-size: 21px;
    padding: 2px;
    margin-left: 15px;
}

.repo-info {
    margin: 0 auto;
    height: 95%;
}

.commits-title {
    height: 4%;
}

/* Title */

.outer {
    display: table;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

/* End Title */

.repo-info>.right {
    width: 83%;
    height: 100%;
    float: right;
}

.repo-info>.right>div {
    margin-left: 15px;
    height: 100%;
}

.repo-info>.left {
    width: 17%;
    height: 98%;
    float: left;
    background-color: #AEC9E2;
    text-align: center;
}

.commit-list {
    height: 96%;
    overflow-y: auto;
}

.commit-item {
    padding: 7px 3px;
}

.commit-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.55);
}

.commit-item.selected:hover {
    cursor: default;
}

.commit-item.selected {
    background-color: #FEFCF7;
}

.commit-detail {
    height: 100%;
}

.commit-details-title {
    height: 4%;
}

.commit-detail>table {
    text-align: left;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}